<div class="container-fluid">
<div class="row">
    <div class="dash-menu">
        <h2>PensionApp</h2>

            <ul>
                <li><a class="icon-social-github" href="#"> Dashboard </a></li>
                <li><a class="icon-social-github" href="#"> Quadro de Avisos </a></li>
                <li><a class="icon-social-github" href="#"> Quadro de Tarefas </a></li>
            </ul>

    </div>

    <div class="col-10">      
        <h1>Homepage</h1>
        <p><%= link_to 'Quadro de tarefas', tasks_path %></p>
    </div>
<div>
</div>



