<div class="container-fluid">
    <div class="row">
        <div class="col-10">      
            <h1 class="text-center">Bem Vindo ao Dashboard</h1>
            
            <div class="mt-5">
                <h2>Quadro de Tarefas<h2>
                <p>Para Criar, Editar e Excluir Taferas click no link a seguir.</p>
            <p><%= link_to 'Quadro de tarefas', tasks_path, class: "btn btn-primary btn-tasks" %></p>
            </div>
            
            <div class="mt-5">
                <h2>Área do Prorpietário</h2>
                <p>Para ter acesso a todas as funcionalidades disponiveis para o proprietário, como administração
                    de moradores, propriedades, empregados e chamada para manutenção click no link a seguir.
                </p>
               <% if current_user.user_type == 'proprietary' %>
    <p>   <%= link_to 'Área do proprietário', proprietary_path, class: "btn btn-primary btn-tasks" %></p>
       <% end %>
       
            </div>
        </div>
    </div>
</div>


