    <h1 class="col-12 text-center">Editar Tarefa</h1>
    
    <%= render 'form' %>
    
    <div class="col-12 text-center mt-3">
        <%= link_to 'Mostrar', @task, class: "btn btn-info" %> 
        <%= link_to 'Voltar', tasks_path, class: "btn btn-light"  %>
    </div>
