<div class="container">
<class="row">
    <div>
    <h1>Editar Tarefa</h1>
    
    <%= render 'form' %>
    
    <%= link_to 'Mostrar', @task %> |
    <%= link_to 'Voltar', tasks_path %>
    <div>
</div>
<div>
