// css global do sistema
select {
    border: 0.5px  solid #ccc;
    height: 35px;
    background: #F4F8F7;  
    border-radius: 3px;
    padding: 0 10px;
    width: 50%;
}

body {
    font-family: 'Noto Sans TC', sans-serif !important;
}

.dash-paragrafo {
   color:#707070;
}

.dash-title {
    margin-bottom: 15px;
    width:100%;
}

.btn-primary, .btn-danger, .btn-success, .btn-info {
    color:#fff !important;
}

.btn-light {
    margin-left: 5px;    
}

#flash_error {
    background: #F8D7DA;
    border: solid 1px #F5C6CB;
    border-radius: 3px;
    padding: 20px;
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;   
    z-index: 10;
    background-attachment: fixed;
}

#flash_notice {
    background: #D4EDDA;
    border: solid 1px #C3E6CB;
    border-radius: 3px;
    padding: 20px;
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-attachment: fixed !important;
}

#flash_alert {
    background: #FFF3CD;
    border: solid 1px #FFEEBA;
    border-radius: 3px;
    padding: 20px;
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 10;
    background-attachment: fixed;
}